.descripcion {
    color: rgb(230, 230, 159);
    text-shadow: -2px -2px 0 #050505, 2px -2px 0 #070707, -2px 2px 0 #070707, 2px 2px 0 #030303;
    font-size: 200%;
    font-weight: 800;
    margin-top: 5px;
}
.pictur{
 margin: 5%;
 display: flex;
}
.descripcion{
    margin-left: 5%;
}