.filtros{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
}
.container{
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1rem;
    background-image: url('/surf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 92vh;
    margin: 20px;

}