.filtros{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 153, 73);
    border-radius: 7px;
    padding: 0 1rem;
}
.container{
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2rem;
    background-image: url('/surf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 92vh;
    margin: 20px;

}