
   
    .footer {
        background-color: rgb(250, 153, 73);/* Color de fondo del footer */
        color: #070707; /* Color del texto */
        font-size:150% ;
        border-radius: 10px;
        bottom: 0;
        margin-top: 10px;
        margin-bottom: 10px;
       
      }

