nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 153, 73);
    padding: 5px; /* Ajusta el relleno de la barra de navegación */
    max-width: 100%;
    width: 100%;
    border-radius: 7px;
    
}

nav img {
    width: 75px; /* Ancho fijo para la imagen */
    margin-right: 5px; /* Espacio entre la imagen y los enlaces */
}

nav a {
    
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    margin-right: 10px; /* Espacio entre los enlaces */
    color: rgb(10, 10, 10); /* Color del texto de los enlaces */
   
    font-size:250% ;
}

nav a:last-child {
    margin-right: 0; /* Elimina el margen derecho del último enlace */
}